In [ ]:
# Carga funciones desde graf2.ipynb
# %run -i graf2.ipynb

In [ ]:
precios = [moto.get('price', 0) for moto in result if moto.get('price')]
if precios:
    print(f"Precio promedio: {sum(precios) / len(precios):.2f} €")
    print(f"Precio más bajo: {min(precios)} €")
    print(f"Precio más alto: {max(precios)} €")

In [ ]:
# Filtrar motos por precio
motos_baratas = [moto for moto in result if moto.get('price', 0) < 10000]
motos_caras = [moto for moto in result if moto.get('price', 0) >= 10000]

print(f"Motos por debajo de 10,000€: {len(motos_baratas)}")
print(f"Motos por encima de 10,000€: {len(motos_caras)}")

In [ ]:
CAMPO = 'title'
dg = df.groupby(CAMPO).size().reset_index(name='num_registros')
dg = dg.sort_values(by='num_registros', ascending=False)
dg.head()

In [5]:

ATRIBUTO = 'hp'

# Agrupar por año de matriculación y contar registros
dg = (
    df.groupby(ATRIBUTO)
      .size()
      .reset_index(name='num_registros')
      .sort_values(by=ATRIBUTO,ascending=False)
)
dg.head()

      hp  num_registros
0  110.0             11

In [6]:
# Asegurarse de que la columna 'price' sea numérica
df['price'] = pd.to_numeric(df['price'], errors='coerce')

# Definir los límites de los intervalos de precio (0 a 48000, cada 6000)
bins = np.arange(0, 48001, 6000)

# Crear etiquetas como "0-6000", "6000-12000", ...
labels = [f"{bins[i]}-{bins[i+1]}" for i in range(len(bins)-1)]

# Asignar cada precio a su intervalo
df['rango_precio'] = pd.cut(df['price'], bins=bins, labels=labels, right=False)

ATRIBUTO = 'rango_precio'
dg = (
    df.groupby(ATRIBUTO)
      .size()
      .reset_index(name='num_registros')
      .sort_values(by=ATRIBUTO,ascending=False)
)
dg

C:\Users\jaime.lopez\AppData\Local\Temp\ipykernel_8072\3336554779.py:15: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(ATRIBUTO)

  rango_precio  num_registros
7  42000-48000              0
6  36000-42000              0
5  30000-36000              0
4  24000-30000              0
3  18000-24000              2
2  12000-18000              6
1   6000-12000             16
0       0-6000              0